<div class="ui tiny modal missing" style="margin: auto; height: max-content; font-size: 16px !important; border-radius: 6px;">
    <div class="header" style="margin: 0 0 1.5rem 0; padding: 2.5rem 3rem !important; background-color: #009949; color: #7FE300;">
        <h1 class="status" style="font-family: Montserrat; font-weight: 700; color: white;">Job Not Found</h1>
    </div>
    <div class="content" style="margin-bottom: 2rem; padding-right: 3rem; padding-left: 3rem; font-size: 1.5rem !important;">
        <p>Looks like you entered a Job Number we don't know about. Check the number and try again.</p>
    </div>
</div>