<div class="ui tiny modal valid" style="margin: auto; height: max-content; font-size: 16px !important; border-radius: 6px;">
    <div class="header" style="margin: 0 0 1.5rem 0; padding: 2.5rem 3rem !important; background-color: #009949; color: #7FE300;">
        <h1 id="status" class="status" style="font-family: Montserrat; font-weight: 700; color: white;">Proofing</h1>
        <p id="details" class="details" style="font-family: Montserrat; font-weight: 400; font-size: 1.5rem !important;">Thanks for your Order. We are in the process of getting things ready for you to give us your final approval.</p>
    </div>
    <div class="content" style="margin-bottom: 2rem; padding-right: 3rem; padding-left: 3rem; font-size: 1.5rem !important;">
        <table class="ui padded basic table">
            <tr>
                <th id="customer">Customer</th>
                <td>Custom Ink</td>
            </tr>
            <tr>
                <th id="refnum">Job Number</th>
                <td>20-12345</td>
            </tr>
            <tr>
                <th id="ordernum">PO Number</th>
                <td>54321</td>
            </tr>
            <tr>
                <th id="date_ship">Current Ship Date</th>
                <td>04/01/2020</td>
            </tr>
            <tr>
                <th id="date_arrival">Current Arrival Date</th>
                <td>04/01/2020</td>
            </tr>
        </table>
    </div>
</div>